# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore the virtual environment directory
.venv/
env/

# Ignore local settings file
crm/settings/local.py

# Ignore SQLite database file
db.sqlite3

# Ignore media files directory
media/

# Ignore secret key file
crm/secret_key.txt

# Ignore IDE and editor specific files
.vscode/
.idea/

